// Navigation Components

@import "bootstrap-variables";

/*--Horizontal top Menu--*/
.navbar{
	margin: 0px;
	background: #fff;
	border-color: #ddd;
	min-height: 70px;

	.container-fluid{
		margin: 0px;
	}

	.thumbnail-user{
		width: 35px;
		height: 35px;
		border: 1px solid $border-color-light;
	}

	.nav.navbar-nav li{
		height: 69px;

		a{
			line-height: 40px;
		}	
	}

	li.searchBox{
		width: 280px;
	}

	li .icon.icon-right-menu{
		color: $gray;
		font-size: 16px;
	}
	li:last-child{
		margin-right: -10px;
		width: 60px;
		text-align: center;
	}
}

/*--Alert Box--*/

#alertBox{
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 70px 0px 20px;
	width: 260px;
	box-sizing: border-box;
	background: #fff;
	border-left: 1px solid #ddd;
	min-height: 200px;
	height: 100%;
	z-index: 2;
	display: none;

	.title{
		background: $gray-dark;
		width: 100%;
		height: 45px;
		padding: 10px 15px;
		margin: 0px 0px 10px 0px;
		font-family: $font-family-titles;
		font-weight: 400; 
		text-transform: uppercase;

		h5{
			color: #fff;
			margin: 5px 0px; 
		}
	}

	.panel-group{
		margin: 10px;

		.panel-heading{
			background: none;

			.panel-title{
				font-size: $font-size-base;
				font-family: $font-family-titles;
				font-weight: 400; 
				color: $gray;
				height: 15px;
				
				a{
					padding-right: 30px;
					width: 205px;
					float: left;
					position: relative;
					text-decoration: none;

					.chevron{
						position: absolute;
						top: 0px;
						right: 0px;
					}

					.badge{
						background: $gray;
						font-size: 10px;
						margin: -3px 0px 0px 5px;
						line-height: 12px;
					}
				}
				a:hover,
				a:active{
					text-decoration: none;
				}

				a .chevron .glyphicon.glyphicon-chevron-left,
				a.collapsed .chevron .glyphicon.glyphicon-chevron-down{
						display: none;
				}

				a .chevron .glyphicon.glyphicon-chevron-down,
				a.collapsed .chevron .glyphicon.glyphicon-chevron-left{
						display: block;
				}

			}	
		}
		.panel-body{
			margin: 0px 10px 10px;
			border: 1px solid $border-color-light;
			border-radius: 3px;
			background: $gray-lighter;
			padding: 10px;

			h5{
				font-family: $font-family-titles;
				color: $gray-dark;
				font-weight: bold;
				margin: 0px 0px 5px 0px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;	
			}
			h6{
				font-family: $font-family-titles;
				font-size: $font-size-small;
				font-weight: bold;
				color: #A9A9A9;
				margin-top: 0px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin-bottom: 0px;
			}
		}
		.panel-body:first-child{
			margin-top: 10px;
		}	
	}
}

/*--Vertical Left Menu--*/

nav#vertical-menu-left{
	position: fixed;
	left: 0px;
	top: 0px;
	background: $gray;
	width: 260px;
	height: 100%;
	display: block;
	padding: 80px 0px 0px;
  	box-sizing: border-box;
  	overflow-y: auto;

  	#openMenu{
		position: absolute;
		right: 20px;
		top: 90px;
		width: 40px;
		height: 40px;
		line-height: 44px;
		border-radius: $border-radius-base;
		cursor: pointer;
		text-align: center;

		.icon{
			color: rgba(255,255,255,0.7);
			font-size: 16px;
			margin-top: 2px;
		}
	}

	ul{
		margin: 60px 0px 0px 0px;
		padding: 0px;
		list-style: none;
		display: block;
	}

	li{
		display: block;
		margin: 0px;
		padding: 0px;
	}

	li:first-child{
		margin-top: 0px;
	}
	
	a{
		display: block;
		position: relative;

		.iconMenu{
			width: 40px;
			height: 40px;
			text-align: center;
			background: $gray-dark;
			margin: 10px 20px 0px 20px;
			border-radius: $border-radius-base;
			line-height: 44px;
			
			.icon{
				color: rgba(255,255,255,0.7);
				font-size: 16px;
				margin-top: 2px;
			}
		}

		.label{
			position: absolute;
			left: 60px;
			top: 10px;
			font-size: 14px;
			font-weight: 100;
			max-width: 160px;
			text-align: left;
			color: $gray-light;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.label .badge{
			margin-left: 5px;
			background: #777;
			color: rgba(255,255,255,0.7);
		}

		.chevron{
			position: absolute;
			top: 15px;
			right: 20px;
		}

		.chevron .glyphicon.glyphicon-chevron-down,
		.chevron .glyphicon.glyphicon-chevron-left{
			color: #fff;
			font-size: 11px;
		}		
	}

	a .chevron .glyphicon.glyphicon-chevron-left,
	a.collapsed .chevron .glyphicon.glyphicon-chevron-down{
			display: none;
	}

	a .chevron .glyphicon.glyphicon-chevron-down,
	a.collapsed .chevron .glyphicon.glyphicon-chevron-left{
			display: block;
	}

	li.active a .iconMenu{
		background: $brand-danger;
	}

	li.active a .iconMenu .glyphicon{
		color: rgba(255,255,255,1);
	}

	ul.sublevel{
		background: $gray-dark;
		margin: 10px 0px 0px;
		padding: 5px 20px 15px;

		li:first-child a{
			margin-top: 0px;
		}

		a{
			display: block;

			.iconMenu{
				background: $gray;
				margin: 10px 5px 0px 5px;
				width: 30px;
				height: 30px;
				font-weight: bold;
				color: rgba(255,255,255,0.5);
				text-align: center;
				line-height: 30px;
				border-radius: $border-radius-base;
			}

			.label{
				left: 40px;
  				top: 5px;
  				color: rgba(255,255,255,0.5); 
			}
		}	
	}	
}

body.menu-open #openMenu{
	transition: background-color 2s ease;
	background-color: $gray-dark;
}

/*--Breadcrumb--*/

.breadcrumb{
	background: none;
	margin: 10px 0px 0px;
	padding: 0px;
}

.breadcrumb > li,
.breadcrumb > li.active{
	margin: 0px 10px 0px 0px;
	text-transform: uppercase;
	color: $gray-darker;
	font-family: $font-titles;
	font-size: 0.9em;
	font-weight: 100;
}

.breadcrumb > li + li:before{
	//font-family: $icon-font-name;
	content: none;
}

.breadcrumb > li a .glyphicon,
.breadcrumb > li .glyphicon{
	color: $gray-darker;
	margin: 0px 10px 0px 0px;
} 

