// Navigation Components

@import "bootstrap-variables";

/*--Horizontal top Menu--*/
.navbar{
	margin: 0px;
	background: #fff;
	border-color: #ddd;
	min-height: 70px;

	.container-fluid{
		margin: 0px;
	}

	.thumbnail-user{
		width: 35px;
		height: 35px;
		border: 1px solid $border-color-light;
	}

	.nav.navbar-nav li{
		height: 69px;

		a{
			line-height: 40px;
		}	
	}

	li.searchBox{
		width: 280px;
	}
}
/*--Vertical Left Menu--*/

nav#vertical-menu-left{
	position: fixed;
	left: 0px;
	top: 0px;
	background: $gray;
	width: 260px;
	height: 100%;
	display: block;
	padding: 80px 0px 0px;
  	box-sizing: border-box;
  	overflow-y: auto;

	ul{
		margin: 0px 0px 0px 0px;
		padding: 0px;
		list-style: none;
		display: block;
	}
	li{
		display: block;
		margin: 0px;
		padding: 0px;
	}
	a{
		width: 40px;
		height: 40px;
		background: $gray-dark;
		display: block;
		margin: 10px 20px 0px 20px;
		border-radius: $border-radius-base;
	}
	li.active a{
		background: $brand-danger;
	}

	ul.sublevel{
		background: $gray-dark;
		margin: 10px 0px 0px;
		padding: 10px 20px;
		
		a{
			background: $gray;
			margin: 10px 5px 0px 5px;
			width: 30px;
			height: 30px;
		}
		li:first-child a{
			margin-top: 0px;
		}
	}	
}

/*--Breadcrumb--*/

.breadcrumb{
	background: none;
	margin: 10px 0px 0px;
	padding: 0px;
}

.breadcrumb > li,
.breadcrumb > li.active{
	margin: 0px 10px 0px 0px;
	text-transform: uppercase;
	color: $gray-darker;
	font-family: $font-titles;
	font-size: 0.9em;
	font-weight: 100;
}

.breadcrumb > li + li:before{
	font-family: $icon-font-name;
	content: none;
}

.breadcrumb > li a .glyphicon,
.breadcrumb > li .glyphicon{
	color: $gray-darker;
	margin: 0px 10px 0px 0px;
} 

