// Buttons Customizations

@import "bootstrap-variables";


/*-- button rounded --*/
.btn.btn-rounded{
	padding: 5px 8px;
	border-radius: $border-radius-rounded;
	background: none;
}

/*-- button rounded success --*/
.btn.btn-success.btn-rounded{
	border: 2px solid $brand-success;
}
.btn.btn-success.btn-rounded:hover{
	background: $brand-success;
}
.btn.btn-success.btn-rounded .glyphicon,
.btn.btn-success.btn-rounded .icon{
	color: $brand-success;
	font-size: $font-size-base;
}
.btn.btn-success.btn-rounded:hover .glyphicon,
.btn.btn-success.btn-rounded:hover .icon{
	color: #fff;
}

/*-- button rounded info --*/
.btn.btn-info.btn-rounded{
	border: 2px solid $brand-info;
}
.btn.btn-info.btn-rounded:hover{
	background: $brand-info;
}
.btn.btn-info.btn-rounded .glyphicon,
.btn.btn-info.btn-rounded .icon{
	color: $brand-info;
	font-size: $font-size-base;
}
.btn.btn-info.btn-rounded:hover .glyphicon,
.btn.btn-info.btn-rounded:hover .icon{
	color: #fff;
}

/*-- button rounded danger--*/
.btn.btn-danger.btn-rounded{
	border: 2px solid $brand-danger;
}
.btn.btn-danger.btn-rounded:hover{
	background: $brand-danger;
}
.btn.btn-danger.btn-rounded .glyphicon,
.btn.btn-danger.btn-rounded .icon{
	color: $brand-danger;
	font-size: $font-size-base;
}
.btn.btn-danger.btn-rounded:hover .glyphicon,
.btn.btn-danger.btn-rounded:hover .icon{
	color: #fff;
}

/*--  button no-background  --*/

.btn.btn-no-background{
	background: none;
}

.btn.btn-no-background.pink{
	border: 2px solid $brand-pink;
	color: $brand-pink;
}


.btn.btn-no-background.gray{
	border: 2px solid $gray-middle;
	color: $gray-middle;
}

.btn.btn-no-background.gray:hover{
	background: $gray-middle;
	color: #fff;
}


@media(max-width: 767px){
	.btn.btn-rounded {
		padding: 2px 6px;
		border-radius: 50px;
		background: none;
	}
	.btn.btn-rounded .glyphicon{
		line-height: 20px;
	}
}