@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "navigation-components";
@import "forms";
@import "buttons";
@import "tables";
@import "tabs";
@import "expand-collapse";

@font-face {
	font-family: 'custom-icons';
	src: url('../fonts/bootstrap/custom-icons.eot');
	src:url('../fonts/bootstrap/custom-icons.eot?#iefixmqv27o') format('embedded-opentype'),
		url('../fonts/bootstrap/custom-icons.ttf?mqv27o') format('truetype'),
		url('../fonts/bootstrap/custom-icons.woff?mqv27o') format('woff'),
		url('../fonts/bootstrap/custom-icons.svg?mqv27o#custom-icons') format('svg');
}

html, body, .container-fluid, .row{
	height: 100%;
}

.icon {
	font-family: 'custom-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-painel:before {
	content: "\e600";
}
.icon-doctor:before {
	content: "\e601";
}
.icon-pacientes:before {
	content: "\e602";
}
.icon-rounds:before {
	content: "\e603";
}
.icon-right-menu:before {
	content: "\e604";
}
.icon-hora:before {
	content: "\e605";
}
.icon-local:before {
	content: "\e606";
}
.icon-checked:before {
	content: "\e607";
}
.icon-hospitais:before {
	content: "\e608";
}
.icon-menu:before {
	content: "\e609";
}
.icon-form-check:before {
	content: "\e60a";
}
.icon-info:before {
	content: "\e60b";
}
.icon-apple:before {
	content: "\e60c";
}
.icon-android:before {
	content: "\e60d";
}


html,
body,
p{
	font-family: $font-family-sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: $font-family-titles;
	font-weight: lighter;
	color: $gray-middle;
}

h1{ font-size: $font-size-h2; }
h2{ font-size: $font-size-h3; }
h3{ font-size: $font-size-h4; }

h1.login{
	margin: 100px 0px 40px;
}

h2.login{
	margin: 100px 0px 0px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

/*--customs background colors--*/
.bg-white{
	background: #fff;
}

.text-muted{
	color: $border-color-middle;
}

.text-pink{
	color: $brand-pink;
}

.text-dark-gray{
	color: $gray-dark;
}

footer.login{
	margin-top: -50px;
}

/*--Grid customization--*/
.container-fluid{
	margin-left: 260px;
	padding: 0px 25px 0px 25px;
}

.container-fluid.logout{
	padding: 0px 15px; 
}

/*--Spacers--*/

.spacer{
	width: 100%;
	clear: both;
}
.spacer.sm{
	height: 10px;
}
.spacer.md{
	height: 20px;
}
.spacer.lg{
	height: 30px;
}
.spacer.xl{
	height: 40px;
}

.no-padding{
	padding: 0px;
}

.no-margin{
	margin: 0px;
}

.basic-margin{
	margin: 10px;
}

.basic-margin.vertical{
	margin-top: 10px;
	margin-bottom: 10px;
}

.basic-margin.horizontal{
	margin-left: 10px;
	margin-right: 10px;
}

hr{
	border-top: 1px solid $border-color-light;
}

/*--Top Pages--*/
.top-page{
	background: $gray-lighter;
	border-bottom: 1px solid $border-color-light;
	margin: 70px -25px 30px -25px;
	padding: 15px 25px;

	h1{ margin-bottom: 0px; }

	h1 small{
		color: $border-color-middle;
		font-size: 50%;
		margin-left: 10px;
		font-weight: 100;
	}

	ul.round-details{
		margin: 33px 0px 0px 0px;
		float: right;

		li{
			color: $gray;
			padding: 0px 10px 0px 0px;
			text-transform: uppercase;
			font-family: $font-family-titles;

			strong{
				margin: 0px 5px;
			}
		}
		li:after{
			content: " | ";
		}
		li:last-child{
			padding-right: 0px;
		}
		li:last-child:after{
			content: "";
			padding-right: 0px;
		}		
	}
}

.highlight {
	padding: 9px 14px;
	margin: 0px 0px 15px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;

	p{
		margin: 0px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/*.text-muted{
		color: $gray-middle;
	}*/
}

ul.messages { 
	list-style: none;
	margin: 0px;
	padding: 0px;

	li{
		display: block;
		border-top: 1px solid #ccc;
		padding: 15px 0px;
		margin: 0px;
	}
	li:first-child{
		border:none;
	}
}

.message-info{
	h4, p{
		margin-left: 80px;
	}
}

.user-image{
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0px 20px 0px 0px;
	float: left;

	.status{
		width: 15px;
		height: 15px;
		border-radius: $border-radius-rounded;
		border: 1px solid $border-color;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	.status.online{
		background: $brand-success;
	}
	.status.offline{
		background: $brand-danger;
	}

	img{
		width: 60px;
		height: 60px;
	}
}

.day{
	.alert-info{
		margin-bottom: 10px;

		h4{
			margin: 0px 0px 20px;
			color: $gray;

			small{
				color: $gray;
				margin-left: 10px;
			}	
		}

		.prescription{
			margin: 0px;
			padding: 0px;
			list-style: none;

			li{
				padding: 0px 20px 0px 0px;
				border-right: 1px solid #bce8f1;
				display: block;
				float: left;
				margin: 0px 20px 0px 0px;

				h5{
					margin: 0px;
					color: $gray;
				}
				p{
					font-size: $font-size-small;
					margin: 0px;
					color: $gray;
				}
			}
			li:last-child{
				border-right: none;
			}
		}
	}
}


/*--Custom Backgrounds--*/

.maxheight{
	height: 100%;
}

.bg-login{
	background: url(../img/bg-login.jpg);
	height: 100%;
	background-size: cover;
}



/*--landing page--*/

#start-landing{
	margin-top: 70px;  

    .container{
    	border-bottom: 1px dotted #ddd;
	    .carousel.slide{
	    	height: 350px;
	    	padding: 30px 0px;

	    	h1{
	    		font-family: $font-family-titles;
	    		font-weight: 100;
	    		font-size: 28px;
	    	}

	    	.lead{
	    		line-height: 24px;
	    		color: $gray;
	    	}

	    	.carousel-indicators{
	    		li{
	    			background: $border-color-light;
	    		}
	    		li.active{
	    			background: $brand-danger;
	    			opacity: 0.5;
	    		}
	    	}

	    	.carousel-control.left,
	    	.carousel-control.right{
	    		background: none;
	    	}
	    }
    }
    .img-banner{
    	height: 350px;

    	img{
    		position: absolute;
    		bottom: 0px;
    	}
    }
}

#devices,
#vantagens{
	.container{
		min-height: 420px;
		padding-top: 70px;
		padding-bottom: 70px;

		h2{
			margin-top: 0px;
		}
	}

}

#video{
	.container{
		.vertical-align-content{
			width: 100%;
			height: 350px;
			vertical-align: middle;
			display: table-cell;
		}
	}
}

footer{
	height: 70px;
	padding: 20px 0px;
	display: block;
	background: $gray-lighter;
	border-top: 1px solid $border-color;

	.logo{
		max-height: 30px;
	}

	p{
		margin-top: 5px;
	}
}


@media(max-width: 767px){
	h1, h2, h3, h4, h5{
		font-family: $font-family-titles;
		font-weight: lighter;
		color: $gray-middle;
	}

	h1{ font-size: $font-size-h3; }
	h2{ font-size: $font-size-h4; }
	h3{ font-size: $font-size-h5; }

	.container-fluid{
		margin-left: 0px !important;
		padding: 20px 10px 0px;
	}
	.row {
	  margin-left: -10px;
	  margin-right: -10px;
	}
	.top-page {
	  background: #f9f9f9;
	  border-bottom: 1px solid #ddd;
	  margin: 50px -10px 30px -10px;
	  padding: 15px 10px;
	}
	.top-page ul.round-details{
		float: left;
	}
	.day{
	.alert-info{
		.prescription{
				li{
					padding: 0px 0px 10px 0px;
					border-bottom: 1px solid #bce8f1;
					display: block;
					float: left;
					margin: 0px 0px 10px 0px;
					width: 100%;
					border-right: none;
				}
				li:last-child{
					border-bottom: none;
				}
			}
		}
	}

	#start-landing{
		margin-top: 70px; 
	    .container{
	    	.carousel.slide{
	    		padding: 0px;
	    		height: 270px;

	    		h1{
	    			font-size: 20px;
	    		}
	    	}	    
		    .img-banner{
		    	height: 225px;

		    	img{
		    		position: relative;
		    		bottom: 0px;
		    		margin: 0px auto;
		    	}
		    }
		}
	}
}



