// tables Customizations

@import "bootstrap-variables";

.table{ 
	thead tr{ 
		th{
			font-family: 'Montserrat', Helvetica, sans-serif;
			padding: 15px;
			color: $gray;
			font-size: $font-size-small;
			font-weight: 100;
		}
		th:first-child{
			color: $gray-darker;
		}

		th{
			.icon{
				margin-right: 5px;
				color: $brand-danger;
				font-size: $font-size-base;
			}
		}
	}

	tbody{
		background: #fff;

		tr td{
			padding: 10px;
			vertical-align: middle;

			.numberBox{
				display: block;
				width: 35px;
				height: 25px;
				line-height: 25px;
				background: #f5f5f5;
				border-radius: 4px;
				margin: 0px auto;
				font-size: 12px;
				color: $gray;
			}
		}

		tr:last-child{
			border-bottom: 1px solid #ddd;
		}
	}

}
