// tables Customizations

@import "bootstrap-variables";

.table{ 
	thead tr{ 
		th{
			font-family: 'Montserrat', Helvetica, sans-serif;
			padding: 15px;
			color: $gray;
			font-size: $font-size-small;
			font-weight: 100;
		}
		th:first-child{
			color: $gray-darker;
		}

		th{
			.icon{
				margin-right: 5px;
				color: $brand-danger;
				font-size: $font-size-base;
			}
		}
	}

	tbody{
		background: #fff;

		tr td{
			padding: 10px;
			vertical-align: middle;

			.numberBox{
				display: block;
				width: 35px;
				height: 25px;
				line-height: 25px;
				background: #f5f5f5;
				border-radius: 4px;
				margin: 0px auto;
				font-size: 12px;
				color: $gray;
			}
		}

		tr:last-child{
			border-bottom: 1px solid #ddd;
		}
	}

}

.table-container {
    border: 1px solid #ddd;
}

.table-container table thead tr:first-child{
	background: $brand-info;
}

.table-container table thead tr:first-child th{
	background-image: none;
	border-right: 1px solid rgba(255,255,255,0.3);
	text-align: center;
}

.table-container table thead tr:first-child th:first-child{
	text-align: left;
}

.table-container table tr td{
	text-align: center;
}

.table-container table tr td:first-child{
	background: $gray-lighter;
	border-right: 1px solid $border-color-light;
	text-align: left;
}


