@import "bootstrap-variables";

.nav-tabs {
	margin: 20px 15px 40px;
}

.nav-tabs > li{
	border: none;
	margin: 0px 0px -4px;	
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
	border: none;	
	font-family: $font-family-titles;
	color: $border-color-middle;
	background: none;
	margin: 0px;
}

.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus{
	border-bottom: 3px solid $brand-danger;
	color: $gray;
	margin: 0px;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	border: none;	
	border-bottom: 3px solid $brand-danger;
	color: $gray;
}

.nav-tabs.blocked > li{
	margin: 0px 0px -1px;
}

.nav-tabs.blocked > li > a{
	text-transform: uppercase;
}

.nav-tabs.blocked > li > a:hover, 
.nav-tabs.blocked > li > a:focus{
	border: none;
    background-color: #ce181f;
    border-radius: 0px;
    color: #fff;
}

.nav-tabs.blocked > li.active > a, 
.nav-tabs.blocked > li.active > a:hover, 
.nav-tabs.blocked > li.active > a:focus{
	border: none;
    background-color: #ce181f;
    border-radius: 0px;
    color: #fff;
}



@media(max-width: 767px){
	.table-responsive .nav{
		width: 100%;
		height: 44px;
		overflow: hidden;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: left;
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}