@font-face {
  font-family: "Montserrat";
  src: url("../fonts/bootstrap/Montserrat-Regular.ttf") format("truetype");
}
.panel-group {
  margin: 10px 0px;
}
.panel-group .panel-heading {
  background: none;
  padding: 10px;
}
.panel-group .panel-heading .panel-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
  height: 15px;
}
.panel-group .panel-heading .panel-title a {
  padding-right: 30px;
  width: 100%;
  float: left;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel-group .panel-heading .panel-title a .chevron {
  position: absolute;
  top: 0px;
  right: 0px;
}
.panel-group .panel-heading .panel-title a .badge {
  background: #777;
  font-size: 10px;
  margin: -3px 0px 0px 5px;
  line-height: 12px;
}
.panel-group .panel-heading .panel-title a:hover,
.panel-group .panel-heading .panel-title a:active {
  text-decoration: none;
}
.panel-group .panel-heading .panel-title .chevron .glyphicon.glyphicon-chevron-left {
  display: block;
}
.panel-group .panel-heading .panel-title .chevron .glyphicon.glyphicon-chevron-down {
  display: none;
}
.panel-group .panel-heading .panel-title .chevron.in .glyphicon.glyphicon-chevron-left {
  display: none;
}
.panel-group .panel-heading .panel-title .chevron.in .glyphicon.glyphicon-chevron-down {
  display: block;
}
.panel-group .panel-body {
  margin: 0px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f9f9;
  padding: 10px;
}
.panel-group .panel-body h5 {
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.panel-group .panel-body h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #A9A9A9;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.panel-group .panel-body:first-child {
  margin-top: 10px;
}
