@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Bootstrap/Montserrat-Regular.ttf") format("truetype");
}
/*--Horizontal top Menu--*/
.navbar {
  margin: 0px;
  background: #fff;
  border-color: #ddd;
  min-height: 70px;
}
.navbar .container-fluid {
  margin: 0px;
}
.navbar .thumbnail-user {
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
}
.navbar .nav.navbar-nav li {
  height: 69px;
}
.navbar .nav.navbar-nav li a {
  line-height: 40px;
}
.navbar li.searchBox {
  width: 280px;
}
.navbar li .icon.icon-right-menu {
  color: #555;
  font-size: 16px;
}
.navbar li:last-child {
  margin-right: -10px;
  width: 60px;
  text-align: center;
}

/*--Alert Box--*/
#alertBox {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 70px 0px 20px;
  width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-left: 1px solid #ddd;
  min-height: 200px;
  height: 100%;
  z-index: 2;
  display: none;
}
#alertBox .title {
  background: #444;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#alertBox .title h5 {
  color: #fff;
  margin: 5px 0px;
}
#alertBox .panel-group {
  margin: 10px;
}
#alertBox .panel-group .panel-heading {
  background: none;
}
#alertBox .panel-group .panel-heading .panel-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
  height: 15px;
}
#alertBox .panel-group .panel-heading .panel-title a {
  padding-right: 30px;
  width: 205px;
  float: left;
  position: relative;
  text-decoration: none;
}
#alertBox .panel-group .panel-heading .panel-title a .chevron {
  position: absolute;
  top: 0px;
  right: 0px;
}
#alertBox .panel-group .panel-heading .panel-title a .badge {
  background: #555;
  font-size: 10px;
  margin: -3px 0px 0px 5px;
  line-height: 12px;
}
#alertBox .panel-group .panel-heading .panel-title a:hover,
#alertBox .panel-group .panel-heading .panel-title a:active {
  text-decoration: none;
}
#alertBox .panel-group .panel-heading .panel-title a .chevron .glyphicon.glyphicon-chevron-left,
#alertBox .panel-group .panel-heading .panel-title a.collapsed .chevron .glyphicon.glyphicon-chevron-down {
  display: none;
}
#alertBox .panel-group .panel-heading .panel-title a .chevron .glyphicon.glyphicon-chevron-down,
#alertBox .panel-group .panel-heading .panel-title a.collapsed .chevron .glyphicon.glyphicon-chevron-left {
  display: block;
}
#alertBox .panel-group .panel-body {
  margin: 0px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f9f9;
  padding: 10px;
}
#alertBox .panel-group .panel-body h5 {
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#alertBox .panel-group .panel-body h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #A9A9A9;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
#alertBox .panel-group .panel-body:first-child {
  margin-top: 10px;
}

/*--Vertical Left Menu--*/
nav#vertical-menu-left {
  position: fixed;
  left: 0px;
  top: 0px;
  background: #555;
  width: 260px;
  height: 100%;
  display: block;
  padding: 80px 0px 0px;
  box-sizing: border-box;
  overflow-y: auto;
}
nav#vertical-menu-left #openMenu {
  position: absolute;
  right: 20px;
  top: 90px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
nav#vertical-menu-left #openMenu .icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-top: 2px;
}
nav#vertical-menu-left ul {
  margin: 60px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  display: block;
}
nav#vertical-menu-left li {
  display: block;
  margin: 0px;
  padding: 0px;
}
nav#vertical-menu-left li:first-child {
  margin-top: 0px;
}
nav#vertical-menu-left a {
  display: block;
  position: relative;
}
nav#vertical-menu-left a .iconMenu {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #444;
  margin: 10px 20px 0px 20px;
  border-radius: 4px;
  line-height: 44px;
}
nav#vertical-menu-left a .iconMenu .icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-top: 2px;
}
nav#vertical-menu-left a .label {
  position: absolute;
  left: 60px;
  top: 10px;
  font-size: 14px;
  font-weight: 100;
  max-width: 160px;
  text-align: left;
  color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav#vertical-menu-left a .label .badge {
  margin-left: 5px;
  background: #777;
  color: rgba(255, 255, 255, 0.7);
}
nav#vertical-menu-left a .chevron {
  position: absolute;
  top: 15px;
  right: 20px;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-down,
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-left {
  color: #fff;
  font-size: 11px;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-left,
nav#vertical-menu-left a.collapsed .chevron .glyphicon.glyphicon-chevron-down {
  display: none;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-down,
nav#vertical-menu-left a.collapsed .chevron .glyphicon.glyphicon-chevron-left {
  display: block;
}
nav#vertical-menu-left li.active a .iconMenu {
  background: #ce181f;
}
nav#vertical-menu-left li.active a .iconMenu .glyphicon {
  color: white;
}
nav#vertical-menu-left ul.sublevel {
  background: #444;
  margin: 10px 0px 0px;
  padding: 5px 20px 15px;
}
nav#vertical-menu-left ul.sublevel li:first-child a {
  margin-top: 0px;
}
nav#vertical-menu-left ul.sublevel a {
  display: block;
}
nav#vertical-menu-left ul.sublevel a .iconMenu {
  background: #555;
  margin: 10px 5px 0px 5px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}
nav#vertical-menu-left ul.sublevel a .label {
  left: 40px;
  top: 5px;
  color: rgba(255, 255, 255, 0.5);
}

body.menu-open #openMenu {
  transition: background-color 2s ease;
  background-color: #444;
}

/*--Breadcrumb--*/
.breadcrumb {
  background: none;
  margin: 10px 0px 0px;
  padding: 0px;
}

.breadcrumb > li,
.breadcrumb > li.active {
  margin: 0px 10px 0px 0px;
  text-transform: uppercase;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 100;
}

.breadcrumb > li + li:before {
  content: none;
}

.breadcrumb > li a .glyphicon,
.breadcrumb > li .glyphicon {
  color: #222;
  margin: 0px 10px 0px 0px;
}
