@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Bootstrap/Montserrat-Regular.ttf") format("truetype");
}
/*--Horizontal top Menu--*/
.navbar {
  margin: 0px;
  background: #fff;
  border-color: #ddd;
  min-height: 70px;
}
.navbar .container-fluid {
  margin: 0px;
}
.navbar .thumbnail-user {
  width: 35px;
  height: 35px;
  border: 1px solid #ddd;
}
.navbar .nav.navbar-nav li {
  height: 69px;
}
.navbar .nav.navbar-nav li a {
  line-height: 40px;
}
.navbar li.searchBox {
  width: 280px;
}
.navbar li .icon.icon-right-menu {
  color: #555;
  font-size: 16px;
}
.navbar li:last-child {
  margin-right: -10px;
  width: 60px;
  text-align: center;
}

/*--Alert Box--*/
#alertBox {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 70px 0px 20px;
  width: 260px;
  box-sizing: border-box;
  background: #fff;
  border-left: 1px solid #ddd;
  min-height: 200px;
  height: 100%;
  z-index: 2;
  display: none;
  overflow-y: auto;
}
#alertBox .title {
  background: #444;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
#alertBox .title h5 {
  color: #fff;
  margin: 5px 0px;
}
#alertBox #CloseSmallAlerts {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #555;
  margin: 10px 10px 0px 10px;
  border-radius: 4px;
  line-height: 44px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  cursor: pointer;
  display: none;
}
#alertBox #CloseSmallAlerts .icon {
  color: #fff;
  font-size: 16px;
  margin-top: 2px;
  line-height: 40px;
}
#alertBox #CloseSmallAlerts .label {
  position: absolute;
  left: 40px;
  top: 10px;
  font-size: 14px;
  font-weight: 100;
  max-width: 160px;
  text-align: left;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#alertBox .panel-group {
  margin: 10px;
}
#alertBox .panel-group .panel-heading {
  background: none;
  padding: 10px;
}
#alertBox .panel-group .panel-heading .panel-title {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #555;
  height: 15px;
}
#alertBox .panel-group .panel-heading .panel-title a {
  padding-right: 30px;
  width: 215px;
  float: left;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#alertBox .panel-group .panel-heading .panel-title a .chevron {
  position: absolute;
  top: 0px;
  right: 0px;
}
#alertBox .panel-group .panel-heading .panel-title a .badge {
  background: #777;
  font-size: 10px;
  margin: -3px 0px 0px 5px;
  line-height: 12px;
}
#alertBox .panel-group .panel-heading .panel-title a:hover,
#alertBox .panel-group .panel-heading .panel-title a:active {
  text-decoration: none;
}
#alertBox .panel-group .panel-heading .panel-title .chevron .glyphicon.glyphicon-chevron-left {
  display: block;
}
#alertBox .panel-group .panel-heading .panel-title .chevron .glyphicon.glyphicon-chevron-down {
  display: none;
}
#alertBox .panel-group .panel-heading .panel-title .chevron.in .glyphicon.glyphicon-chevron-left {
  display: none;
}
#alertBox .panel-group .panel-heading .panel-title .chevron.in .glyphicon.glyphicon-chevron-down {
  display: block;
}
#alertBox .panel-group .panel-body {
  margin: 0px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f9f9;
  padding: 10px;
}
#alertBox .panel-group .panel-body h5 {
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#alertBox .panel-group .panel-body h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #A9A9A9;
  margin-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
#alertBox .panel-group .panel-body:first-child {
  margin-top: 10px;
}

/*--Vertical Left Menu--*/
nav#vertical-menu-left {
  position: fixed;
  left: 0px;
  top: 0px;
  background: #555;
  width: 260px;
  height: 100%;
  display: block;
  padding: 80px 0px 0px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 2;
}
nav#vertical-menu-left #openMenu {
  position: absolute;
  right: 20px;
  top: 90px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
nav#vertical-menu-left #openMenu .icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-top: 2px;
}
nav#vertical-menu-left #CloseMenuSmall {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #fff;
  margin: 10px 20px 0px 20px;
  border-radius: 4px;
  line-height: 44px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  cursor: pointer;
  display: none;
}
nav#vertical-menu-left #CloseMenuSmall .icon {
  color: #555;
  font-size: 16px;
  margin-top: 2px;
  line-height: 40px;
}
nav#vertical-menu-left #CloseMenuSmall .label {
  position: absolute;
  left: 40px;
  top: 10px;
  font-size: 14px;
  font-weight: 100;
  max-width: 160px;
  text-align: left;
  color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav#vertical-menu-left ul {
  margin: 60px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  display: block;
}
nav#vertical-menu-left li {
  display: block;
  margin: 0px;
  padding: 0px;
}
nav#vertical-menu-left li:first-child {
  margin-top: 0px;
}
nav#vertical-menu-left a {
  display: block;
  position: relative;
}
nav#vertical-menu-left a .iconMenu {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #444;
  margin: 10px 20px 0px 20px;
  border-radius: 4px;
  line-height: 44px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
nav#vertical-menu-left a .iconMenu .icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-top: 2px;
}
nav#vertical-menu-left a .label {
  position: absolute;
  left: 60px;
  top: 10px;
  font-size: 14px;
  font-weight: 100;
  max-width: 160px;
  text-align: left;
  color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav#vertical-menu-left a .label .badge {
  margin-left: 5px;
  background: #777;
  color: rgba(255, 255, 255, 0.7);
}
nav#vertical-menu-left a .chevron {
  position: absolute;
  top: 15px;
  right: 20px;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-down,
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-left {
  color: #fff;
  font-size: 11px;
}
nav#vertical-menu-left a:hover,
nav#vertical-menu-left a:active {
  text-decoration: none;
}
nav#vertical-menu-left a:hover .iconMenu,
nav#vertical-menu-left a:active .iconMenu {
  background: #BD070E;
}
nav#vertical-menu-left a:hover .label,
nav#vertical-menu-left a:active .label {
  color: #E4C0C0;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-left,
nav#vertical-menu-left a.collapsed .chevron .glyphicon.glyphicon-chevron-down {
  display: none;
}
nav#vertical-menu-left a .chevron .glyphicon.glyphicon-chevron-down,
nav#vertical-menu-left a.collapsed .chevron .glyphicon.glyphicon-chevron-left {
  display: block;
}
nav#vertical-menu-left li.active a .iconMenu {
  background: #ce181f;
}
nav#vertical-menu-left li.active a .iconMenu .glyphicon {
  color: white;
}
nav#vertical-menu-left li.active a:hover .iconMenu,
nav#vertical-menu-left li.active a:active .iconMenu {
  background: #BD070E;
}
nav#vertical-menu-left ul.sublevel {
  background: #444;
  margin: 10px 0px 0px;
  padding: 5px 20px 15px;
}
nav#vertical-menu-left ul.sublevel li:first-child a {
  margin-top: 0px;
}
nav#vertical-menu-left ul.sublevel a {
  display: block;
}
nav#vertical-menu-left ul.sublevel a .iconMenu {
  background: #555;
  margin: 10px 5px 0px 5px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}
nav#vertical-menu-left ul.sublevel a .label {
  left: 40px;
  top: 5px;
  color: rgba(255, 255, 255, 0.5);
}

body.menu-open #openMenu {
  transition: background-color 2s ease;
  background-color: #444;
}

/*--Vertical left Menu for small screens--*/
#bottomMenu {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1040;
  width: 100%;
  height: 55px;
  background: #fff;
  border-top: 1px solid;
  border-color: #ddd;
  padding: 10px;
  color: #555;
}
#bottomMenu #OpenMenuSmall {
  background: none;
  float: left;
  border: none;
  padding-top: 5px;
}
#bottomMenu #OpenMenuSmall .icon {
  color: #555;
}
#bottomMenu #OpenSmallAlerts {
  background: none;
  float: right;
  border: none;
  padding-top: 5px;
}
#bottomMenu #OpenSmallAlerts .icon {
  color: #555;
}

/*--Breadcrumb--*/
.breadcrumb {
  background: none;
  margin: 0px 0px 0px;
  padding: 0px;
}

.breadcrumb > li,
.breadcrumb > li.active {
  margin: 0px 10px 0px 0px;
  text-transform: uppercase;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 100;
}

.breadcrumb > li + li:before {
  content: none;
}

.breadcrumb > li a .glyphicon,
.breadcrumb > li .glyphicon {
  color: #222;
  margin: 0px 10px 0px 0px;
}

@media (max-width: 767px) {
  .navbar-collapse.collapse.in {
    height: 100%;
  }

  .navbar {
    min-height: 50px;
  }
  .navbar .navbar-brand img {
    max-width: 100px;
  }
  .navbar li.searchBox {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
  }
  .navbar li.searchBox .input {
    width: 100%;
    max-width: none;
    vertical-align: top;
  }
  .navbar li {
    display: none;
  }
  .navbar li.searchBox {
    display: block;
  }

  nav#vertical-menu-left {
    display: none;
    z-index: 1050;
    width: 100%;
    padding: 0px;
  }
  nav#vertical-menu-left #openMenu {
    display: none;
  }
  nav#vertical-menu-left #CloseMenuSmall {
    display: block;
  }
  nav#vertical-menu-left ul {
    margin: 20px 0px 0px 0px;
  }

  #alertBox {
    display: none;
    z-index: 1050;
    width: 100%;
    padding: 0px;
  }
  #alertBox .title {
    display: none;
  }
  #alertBox #CloseSmallAlerts {
    display: block;
  }

  nav#vertical-menu-left.animated,
  #alertBox.animated {
    display: block;
  }

  .animated {
    display: block;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  @-webkit-keyframes bounceInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(-30px);
    }
    80% {
      -webkit-transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(0);
    }
  }
  @keyframes bounceInUp {
    0% {
      opacity: 0;
      transform: translateY(2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(-30px);
    }
    80% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .bounceInUp {
    display: block;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }

  @-webkit-keyframes bounceOutDown {
    0% {
      -webkit-transform: translateY(0);
    }
    20% {
      opacity: 1;
      -webkit-transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
    }
  }
  @keyframes bounceOutDown {
    0% {
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: translateY(2000px);
    }
  }
  .bounceOutDown {
    display: block;
    -webkit-animation-name: bounceOutDown;
    animation-name: bounceOutDown;
  }

  #bottomMenu {
    display: block;
  }
  #bottomMenu #OpenMenuSmall {
    display: block;
  }
}
