@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Bootstrap/Montserrat-Regular.ttf") format("truetype");
}
.table thead tr th {
  font-family: 'Montserrat', Helvetica, sans-serif;
  padding: 15px;
  color: #555;
  font-size: 12px;
  font-weight: 100;
}
.table thead tr th:first-child {
  color: #222;
}
.table tbody {
  background: #fff;
}
.table tbody tr td {
  padding: 15px;
}
