@font-face {
  font-family: "Montserrat";
  src: url("../fonts/bootstrap/Montserrat-Regular.ttf") format("truetype");
}
/*-- button rounded --*/
/* line 7, ../sass/buttons.scss */
.btn.btn-rounded {
  padding: 5px 8px;
  border-radius: 50px;
  background: none;
}

/*-- button rounded success --*/
/* line 14, ../sass/buttons.scss */
.btn.btn-success.btn-rounded {
  border: 2px solid #5cb85c;
}

/* line 17, ../sass/buttons.scss */
.btn.btn-success.btn-rounded:hover {
  background: #5cb85c;
}

/* line 20, ../sass/buttons.scss */
.btn.btn-success.btn-rounded .glyphicon,
.btn.btn-success.btn-rounded .icon {
  color: #5cb85c;
  font-size: 14px;
}

/* line 25, ../sass/buttons.scss */
.btn.btn-success.btn-rounded:hover .glyphicon,
.btn.btn-success.btn-rounded:hover .icon {
  color: #fff;
}

/*-- button rounded info --*/
/* line 31, ../sass/buttons.scss */
.btn.btn-info.btn-rounded {
  border: 2px solid #5bc0de;
}

/* line 34, ../sass/buttons.scss */
.btn.btn-info.btn-rounded:hover {
  background: #5bc0de;
}

/* line 37, ../sass/buttons.scss */
.btn.btn-info.btn-rounded .glyphicon,
.btn.btn-info.btn-rounded .icon {
  color: #5bc0de;
  font-size: 14px;
}

/* line 42, ../sass/buttons.scss */
.btn.btn-info.btn-rounded:hover .glyphicon,
.btn.btn-info.btn-rounded:hover .icon {
  color: #fff;
}

/*-- button rounded danger--*/
/* line 48, ../sass/buttons.scss */
.btn.btn-danger.btn-rounded {
  border: 2px solid #ce181f;
}

/* line 51, ../sass/buttons.scss */
.btn.btn-danger.btn-rounded:hover {
  background: #ce181f;
}

/* line 54, ../sass/buttons.scss */
.btn.btn-danger.btn-rounded .glyphicon,
.btn.btn-danger.btn-rounded .icon {
  color: #ce181f;
  font-size: 14px;
}

/* line 59, ../sass/buttons.scss */
.btn.btn-danger.btn-rounded:hover .glyphicon,
.btn.btn-danger.btn-rounded:hover .icon {
  color: #fff;
}

/*--  button no-background  --*/
/* line 66, ../sass/buttons.scss */
.btn.btn-no-background {
  background: none;
}

/* line 69, ../sass/buttons.scss */
.btn.btn-no-background.pink {
  border: 2px solid #f8564e;
  color: #f8564e;
}

@media (max-width: 767px) {
  /* line 77, ../sass/buttons.scss */
  .btn.btn-rounded {
    padding: 2px 6px;
    border-radius: 50px;
    background: none;
  }

  /* line 82, ../sass/buttons.scss */
  .btn.btn-rounded .glyphicon {
    line-height: 20px;
  }
}
