@font-face {
  font-family: "Montserrat";
  src: url("../fonts/bootstrap/Montserrat-Regular.ttf") format("truetype");
}
/* line 3, ../sass/tabs.scss */
.nav-tabs {
  margin: 20px 15px 40px;
}

/* line 7, ../sass/tabs.scss */
.nav-tabs > li {
  border: none;
  margin: 0px 0px -4px;
}

/* line 12, ../sass/tabs.scss */
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #BEBEBE;
  background: none;
  margin: 0px;
}

/* line 22, ../sass/tabs.scss */
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-bottom: 3px solid #ce181f;
  color: #555;
  margin: 0px;
}

/* line 29, ../sass/tabs.scss */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 3px solid #ce181f;
  color: #555;
}

@media (max-width: 767px) {
  /* line 39, ../sass/tabs.scss */
  .table-responsive .nav {
    width: 100%;
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
